.footer{
background-color: #2C2B2B;
background-size: cover;
background-position: center;
padding: 60px;
height: 100px;
}

.social-box{
  display: flex;
  justify-content: center;
}

.footer a{
font-size: 30px;
}

.footer i{
  color: #1EDD88;
  width: 2.25em;
}

.footer p{
  color: grey;
}
